# NextAuth.js 配置
AUTH_TRUST_HOST=true
AUTH_SECRET=your-secret-key-here
AUTH_GITHUB_ID=your-github-oauth-app-client-id
AUTH_GITHUB_SECRET=your-github-oauth-app-client-secret

# 本地开发 URL
AUTH_URL=http://localhost:3000

# Analytics
NEXT_PUBLIC_MICROSOFT_CLARITY_ID=your-clarity-project-id